{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block javascripts %}
    {% if show_onpage_menu %}
        {% do assets.add('theme://js/singlePageNav.min.js') %}
    {% endif %}
    {{ parent() }}
    {% do assets.addJs('theme://js/anime.min.js', {group: 'bottom'}) %}
    {% do assets.addJs('theme://js/imagesloaded.pkgd.min.js', {group: 'bottom'}) %}

    {# 2019 animation includes #}
    {% do assets.addJs('theme://js/sk_190203_pixi/js/pixi.min.js', {group: 'bottom'}) %}
    {% do assets.addJs('theme://js/sk_190203_pixi/js/circle.js', {group: 'bottom'}) %}
    {% do assets.addJs('theme://js/sk_190203_pixi/js/poof.js', {group: 'bottom'}) %}
    {% do assets.addJs('theme://js/2019-animation.js?v=201902211', {group: 'bottom'}) %}

    {# {% do assets.addJs('theme://js/libs/bitlib_1_0_9.min.js', {group: 'bottom'}) %} #}
    {# {% do assets.addJs('theme://js/libs/perlin.js', {group: 'bottom'}) %} #}
    {# {% do assets.addJs('theme://js/170417-sensorium.js', {group: 'bottom'}) %} #}

    {# {% do assets.addJs('theme://js/p5js/p5.js') %}
    {% do assets.addJs('theme://js/splineloop.js') %}
    {% do assets.addJs('theme://js/splineloop-sketch.js') %} #}
    {# {% do assets.addJs('theme://js/scroll-background-dim.js') %} #}
    {# {% do assets.addJs('theme://js/jquery.countdown.js') %} #}
    {# {% do assets.addJs('theme://js/start-countdown.js') %} #}
{% endblock %}

{% block background %}
    <div id="bg-canvas" class="lolly" canvas=""></div>
{% endblock %}

{% block bottom %}
    {{ parent() }}
    {% if show_onpage_menu %}
        <script>
        // singlePageNav initialization & configuration
        $('#navbar').singlePageNav({
            offset: $('#header').outerHeight(),
            filter: ':not(.external)',
            updateHash: true,
            currentClass: 'active'
        });
        </script>
    {% endif %}
    <script>
    // smooth scroll internal links
    $('a[href^="#"]').on('click', function(event) {
        var target = $(this.getAttribute('href'));
        if( target.length ) {
            event.preventDefault();
            container= $("#sb-site");
            container.animate({
                scrollTop: target.offset().top - container.offset().top + container.scrollTop()
            });
        }
    });
    </script>
{% endblock %}

{% block header_navigation %}
    {% if show_onpage_menu %}
        {% include 'partials/organisms/navigation-onpage.html.twig' %}
    {% else %}
        {{  parent() }}
    {% endif %}
{% endblock %}

{% block slidebar_navigation %}
    {% include 'partials/organisms/navigation-onpage.html.twig' with {
        is_side_bar: true
    }%}
{% endblock %}

{% block content %}
    {{ page.content }}
    {% for module in page.collection() %}
        {% if not module.header.disabled %}
            <div id="{{ _self.pageLinkName(module.menu) }}"></div>
            {{ module.content }}
        {% endif %}
    {% endfor %}
{% endblock %}