

{# TODO: adjust to news #}

{% extends 'partials/base.html.twig' %}
{% set currentLang = grav.language.getLanguage %}
{% block bodyclass %}item-news{% endblock %}

{% block body %}

  <div class="grid-x grid-padding-x speaker">
    <div class="medium-6 cell">
      <h2>{{ page.title }}</h2>
      {# <h3>{{ page.header.subtitle }}</h3> #}

      <p class="show-for-medium">
        <a href="{{ home_url }}" class="page-back">{{ currentLang == 'sk' ? 'Späť na úvodnú stránku' : 'Back to home page'}}</a>
      </p>
    </div>
    <div class="medium-6 cell">
      {% set featured_image = page.media.images[page.header.custom.coverImage|first.name].url %}
      {% if featured_image %}
      <img src="{{ featured_image }}" alt="" class="speaker__featured">      
      {% endif %}

      {{ page.content }}

      <p class="show-for-small-only">
        <a href="{{ home_url }}" class="page-back">{{ currentLang == 'sk' ? 'Späť na úvodnú stránku' : 'Back to home page'}}</a>
      </p>
    </div>
  </div>

  {# {% include 'modular/speakerlist.html.twig' %} #}
  
{% endblock %}
