{% set currentLang = grav.language.getLanguage %}
  {% extends 'partials/base.html.twig' %}
{% block bodyclass %}page-speaker{% endblock %}

{% block body %}

  <div class="layout-single">
    <div class="layout-single__meta">
      <h2>{{ page.title }}</h2>
      <h3>{{ page.header.subtitle }}</h3>

      <p class="show-for-medium">
        <a href="{{ home_url }}" class="page-back">{{ currentLang == 'sk' ? 'Späť na úvodnú stránku' : 'Back to home page'}}</a>
      </p>
    </div>
    <div class="layout-single__content">
      {% set featured_image = page.media.images[page.header.custom.coverImage|first.name].url %}
      {% if featured_image %}
      <img src="{{ featured_image }}" alt="" class="layout-single__featured">      
      {% endif %}

      {{ page.content }}

      <p class="show-for-small-only">
        <a href="{{ home_url }}" class="page-back">{{ currentLang == 'sk' ? 'Späť na úvodnú stránku' : 'Back to home page'}}</a>
      </p>
    </div>
  </div>

  {% include 'modular/speakerlist.html.twig' %}
  
{% endblock %}
