<div class="grid-x grid-padding-x section">
	<div class="medium-3 cell">
		<h2>{{ page.title }}</h2>
		<p class="text-upper">
			{{ page.header.explanation }}
		</p>
	</div>
	<div class="medium-9 cell">
		<ul class="speakerlist">
		{# {% set skrs = {'@page.descendants': '/speakers'} %} #}
		{% set options = { items: {'@page.descendants': '/beyond-the-sound'}, 'order': {'by': 'folder', 'dir': 'asc'}} %}
		{% set speakers = page.collection(options) %}
		{% for speaker in speakers  %}
			<li class="speakerlist__item">
				<a href="{{speaker.url}}" class="speakerlist__href">
					<img data-src="{{ speaker.media.images[speaker.header.custom.bioImage|first.name].url }}" src="{{theme_url}}/dist/assets/img/placeholder.svg" class="lazy" alt="Image of {{ speaker.title }}">
					<h4 class="speakerlist__name">{{ speaker.title }}</h4>
					<p class="speakerlist__interest">{{ speaker.header.subtitle }}</p>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>