{% set limit = page.header.limit|default(5) %}

<div class="grid-x grid-padding-x section">
	<div class="medium-3 cell">
		<h2>{{ page.title }}</h2>
	</div>
	<div class="medium-9 cell" newslist>
		{% for p in page.collection.slice(0, limit) %}
			<article class="newslist__item">
				<a href="{{p.url}}" class="newslist__img">
					<img data-src="{{ p.media.all|first.url }}" class="db lazy" alt="{{p.title}}">
				</a>
				<div class="newslist__content">
					<p class="newslist__date">{{ p.date|nicetime(false) }}</p>
					<a href="{{p.url}}" class="newslist__href"><h4 class="newslist__title">{{ p.title }}</h4></a>
					<p>{{ p.summary }}</p>
					{# <p class="newslist__moreinfo">{{ page.header.moreinfotext }}</p> #}
				</div>






				{# <a class="newslist__href" href="{{p.url}}">
					<div class="flex flex-column flex-row-ns">
						<div class="pr3-ns mb4 mb0-ns w-100 w-25-ns">
							<img src="{{ p.media.all|first.url }}" class="db" alt="{{p.title}}">
						</div>
						<div class="w-100 w-75-ns pl3-ns">
							<time class="s-time">{{ p.date|nicetime(false) }}</time>
							<h2 class="newslist__title">
								{{ p.title }}
							</h2>
							<p class="newslist__moreinfo">{{ page.header.moreinfotext }}</p>
						</div>
					</div>
				</a> #}
			</article>
		{% endfor %}
		{# {% if page.collection.count > limit %}
			<div class="tc pa4 f4">
				<a href="/news">see all news...</a>
			</div>
		{% endif %} #}
		

	</div>
</div>
