{% set limit = page.header.limit|default(5) %}

<section class="modular-row mw8 center">
	<div class="tc">
		{{ content }}
	</div>
	{% for p in page.collection.slice(0, limit) %}
		<article class="{% if not p.isLast %}bb{% endif %}">
			<a class="db pv4 ph3 ph0-l no-underline white" href="{{p.url}}">
				<div class="flex flex-column flex-row-ns">
					<div class="pr3-ns mb4 mb0-ns w-100 w-30-ns">
						<img src="{{ p.media.images|first.url }}" class="db" alt="{{p.title}}">
					</div>
					<div class="w-100 w-70-ns pl3-ns">
						<h2 class="f3 fw1 mt0 lh-title">
							{{ p.title }}
						</h2>
						<time class="f6 db light-gray">{{ p.date|nicetime(false) }}</time>
					</div>
				</div>
			</a>
		</article>
	{% endfor %}
	{% if page.collection.count > limit %}
		<div class="tc pa4 f4">
			<a href="/news">see all news...</a>
		</div>
	{% endif %}
</section>