{% set currentLang = grav.language.getLanguage %}

{% if currentLang == 'sk' %} 
    {% set footerDesc = 'Sensorium spája odborníkov v oblasti umenia, dizajnu a technológie a vytvára nové väzby medzi ľuďmi, myšlienkami a disciplínami. Pozývaním medzinárodných rečníkov a hostí do Bratislavy sa snažíme prepojiť svetové myšlienky a podporiť zmysluplnú aplikáciu a experimentálne využitie technológií v umení, dizajne a performancii na Slovensku a v strednej Európe.' %} 
    {% set pastSpeakers = 'Predošlí hostia boli aj:' %} 
    {% set getInTouch = 'Kontaktuj nás' %} 
    {% set producedBy = 'Sensorium organizuje'  %}
    {% set previously = 'Predošlé ročníky' %} 
    {% set signUpNewsletter = 'Chcem dostávať!' %} 
{% else %}
    {% set footerDesc = 'Sensorium brings together practitioners in art, design and technology to foster new connections between people, thoughts and disciplines. By inviting international speakers and guests to Bratislava we aim to bridge ideas and encourage the meaningful application and experimental use of creative technolgy in art, design and performance in Slovakia and Central Europe.' %} 
    {% set pastSpeakers = 'Past speakers include:' %} 
    {% set getInTouch = 'Get in touch' %} 
    {% set producedBy = 'Sensorium is produced by' %} 
    {% set previously = 'Previously'  %}
    {% set codeOfConductTitle = 'Code of Conduct & Privacy policy'  %}
    {% set signUpNewsletter = 'Sign up now' %} 
{% endif %}

<footer class="footer grid-x grid-padding-x">
    <div class="cell grid-x">
        <div class="cell grid-x">
            
        
            <div class="small-6 medium-3 cell">
                <p>
                    {{ getInTouch }} <br>
                    <a href="mailto:{{'hello@sensorium.is'|safe_email}}">{{'hello@sensorium.is'|safe_email}}</a>
                </p>
                <p>
                    Facebook <br>
                    <a href="{{site.social_links.facebook}}">Sensorium festival</a>
                </p>
                <p>
                    Twitter <br>
                    <a href="{{site.social_links.twitter}}">@sensoriumis</a>
                </p>
                <p>
                    Instagram <br>
                    <a href="{{site.social_links.instagram}}">sensorium.is</a>
                </p>
                <p>
                    Newsletter<br>
                    <a href="{{site.social_links.newsletter}}">{{ signUpNewsletter }}</a>
                </p>


            </div>
            <div class="small-6 medium-4 cell">
                {# <p>
                    {{ codeOfConductTitle }} <br>
                    <a href=""></a>
                    <a href="/code-of-conduct/">Code of conduct</a><br>
                    <a href="/privacy-policy/">Privacy policy</a>
                </p> #}
                <p>
                    Webhosting <br>
                    <a href="https://websupport.sk">websupport.sk</a>
                </p>
                <p>
                    {{ previously }} <br>
                    <a href="https://2019.sensorium.is/">Sensorium 2019</a><br>
                    <a href="https://2018.sensorium.is/">Sensorium 2018</a><br>
                    <a href="https://2017.sensorium.is/">Sensorium 2017</a>
                </p>
            </div>
        </div>

        <div class="cell grid-x">
            <ul class="footer__credits body-type">
                <li>© 2020 SENSORIUM </li>
                <li><a href="/code-of-conduct/">Code of conduct</a> &amp; <a href="/privacy-policy/">Privacy policy</a></li>
                <li>Design by Andrej&amp;Andrej + khn + M. VOJTUs</li>
            </ul>
        </div>
    </div>
    
</footer>