{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}
<ul class="navigation">
{% for module in page.collection() %}
    {% if not (module.header.disabled or module.header.hide_in_menu) %}
        {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
        <li class="{{ current_module }}"><a href="#{{ _self.pageLinkName(module.menu) }}" {% if is_side_bar %}class="sb-close"{% endif %} >{{ module.menu }}</a></li>
    {% endif %}
{% endfor %}
{% for mitem in site.menu %}
    <li>
        <a href="{{ mitem.url }}">
            {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
            {{ mitem.text }}
        </a>
    </li>
{% endfor %}
</ul>